p{
  margin:0;
}

hr{
  opacity: 0.15;
  color: #c6bbac;
}

.Altdiv{
  text-align: center;
  border: 1px solid black;
  position: absolute;
  top: 44%;
  left:46%;
  width:9.45em;
  height:9.45em;
  background: AntiqueWhite;
}

.button {
  border-radius: 10%;
  padding: 1.5em 3em;
  background-color: AntiqueWhite;
}

.hardButton {
  border: 1px solid #000000;
  border-radius: 20%;
  padding: 1em 0.2em;
}

.atIcon {
  text-align: justify;
  width: 2.5em;
  float: left;
}

.atIcon img{
  display: block;
  margin: 0 auto;
}
