p{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

h{
  font-family: Arial, Helvetica, sans-serif;
}

b{
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  opacity: 0.15;
  color: #c6bbac;
}

.Parentdiv{
  width: 10.45em;
  height: 10.45em;
  overflow: hidden;
}

.Altdiv{
  text-align: center;
  border: 1px solid black;
  position: absolute;
  top: 44%;
  left:46%;
  width:9.45em;
  height:9.45em;
  background: AntiqueWhite;
  overflow: hidden;
  }

.button {
  border-radius: 20%;
  padding: 0.75em 1.75em;
  border: none;
  background-color: #2eb8b8;
}

.hardButton {
  border: 1px solid #000000;
  border-radius: 20%;
  padding: 1em 0.2em;
}

.atIcon {
  text-align: justify;
  width: 2.5em;
  float: left;
}

.atIcon img{
  display: block;
  margin: 0 auto;
}
